*{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

:root{
    --background-color: #FFFFFF;
    --text-color: #0B0F19;
    --header-button-color: #6366F1;
    --background-color2: #9397AD;
    --text-color-p: #565973;
    --text-color-white: #fff;
}
body{
  margin: 0;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
header .img-And-Button{
  font-size: 1rem;
  color: var(--text-color-p);
  display: flex;
  align-items: center;
  gap: 10px;
}

 button.button-header{
  color: var(--text-color-white);
  border: none;
  background-color: var(--header-button-color);
  font-size: 1rem;
  border-radius: 5px 5px 5px 5px;
  padding: 4px 8px 4px 8px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 60px 40px;
  max-height: 876px;
}

.textHero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.textHero p {
  font-size: 1.2rem;
  color: var(--text-color-p);
  margin-bottom: 30px;
}

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}
.brands img{
    width: 196px;
    height: 100px;
}